*{
	margin: 0;
	padding: 0;
	font-family: Franklin Gothic Medium;
	margin-top: 70px;
}

header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../Winer-Parisienne.jpg); 
	height: 100vh;
	background-size: cover;
	background-position: center;

}

ul{
	float: right;
	list-style-type: none;
	margin-top: -45px;
}

ul li{
	display: inline-block;

}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 62px;
	border: 1px solid transparent;
	transition: 0.5s ease;
	font-size: 20px;

}

ul li a:hover{
	background-color: #eee8aa;
	color: #000;
}


.logintitle{
	  position: absolute;
	  top: 1.7%;
	  left: 28.8%;
	  transform: translate(-50%,-50%);
}

.logintitle t1{
	color: 	#0000ff;
	font-size: 50px;
	font-family: "Aharoni"
}

.logo img{
	float: left;
	width: 150px;
	height: 100px;
	margin-left: -5px;
	margin-top: -120px;
}
.button1{
	 position: absolute;
	  top: 60%;
	  left: 38%;
	  transform: translate(-50%,-50%);
	  padding: 5px 60px;
}

.butn1{
	color: #fff;
	padding: 10px 15px;
	border: 2.4px solid #000;
	font-family: Calibri Body;
	font size: 10px;
	transition: 0.5s ease; 
}

.butn1:hover{
	color: #fff;
	background-color: #000;
}

.button2{
	 position: absolute;
	  top: 60%;
	  left: 61%;
	  transform: translate(-50%,-50%);
	  padding: 5px 60px;
}


.butn2{
	color: #fff;
	padding: 10px 45px;
	border: 2.4px solid #000;
	font-family: Calibri Body;
	font size: 10px;
	transition: 0.5s ease; 
}

.butn2:hover{
	color: #fff;
	background-color: #000;
}
